.Rproj.user
.Rhistory
.RData
.Ruserdata

# eBird ranges
ebird-ranges*
!ebird-ranges/.gitkeep

# original NN data downloads
data/orig-downloads*
!data/orig-downloads/.gitkeep
data-download-2025/data-original*
!data-download-2025/data-original/.gitkeep

